In [1]:
import pandas as pd
from chq import chq

In [2]:
data_path = './data/'

In [3]:
test_data = pd.read_excel(data_path + 'ch_sample_data.xlsx')
display(test_data)

,ApplicationID,ApplicationDate,DealUID,PaymentDiscipline,LoanKindCode,BCHPartnerType,CreditStatus,CloseDtFact,LastUpdateDt
0,12345-zxywa,2023-04-07,abc-12,0,microloan,microfinance_organization,active_wo_overdue,NaT,2023-01-25
1,12345-zxywa,2023-04-07,mno-56,CC22,loan,microfinance_organization,closed,2022-02-05,2023-02-05
2,12345-zxywa,2023-04-07,ghi-34,220000220,loan,credit_organization,active_w_overdue,NaT,2023-04-04
3,12345-zxywa,2023-04-07,jkl-45,1100-,microloan,microfinance_organization,active_w_overdue,NaT,2023-04-04
4,12345-zxywa,2023-04-07,def-23,120,microloan,microfinance_organization,active_w_overdue,NaT,2023-04-05

In [4]:
columns_to_calc = [
    "ApplicationDate",
    "DealUID",
    "PaymentDiscipline",
    "LoanKindCode",
    "BCHPartnerType",
    "CreditStatus",
    "CloseDtFact",
    "LastUpdateDt",
]

data_w_chq = test_data.groupby(by="ApplicationID")[columns_to_calc].apply(
    chq, microloans_only=False, col="chq"
)

agg_chq = {"chq": lambda s: s.values[0]}
data_collapsed = data_w_chq.groupby(by="ApplicationID").agg(agg_chq)

display(data_collapsed)

                    chq
ApplicationID
12345-zxywa    0.825123